@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Libre+Franklin|IBM+Plex+Serif|Oswald');

$font-primary: 'Libre Franklin';
$font-secondary: 'IBM Plex Serif';
$font-tertiary: 'Oswald';

$font-code: 'IBM Plex Mono';
