@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Libre+Franklin|Lora|Oswald');

$font-primary: 'Libre Franklin';
$font-secondary: 'Lora';
$font-tertiary: 'Oswald';

$font-code: 'IBM Plex Mono';
