// colors for code section
$color-code-background: #353b45;
$color-code-keyword: #c3a4c4;
$color-code-equal: #ecdbb2;
$color-code-definition: #b7ba59;
$color-code-text: #ecdbb2;
$color-code-bracket: #87c4bd;
$color-code-element: #fc929e;

$color-black: #231f20;
$color-white: #fffaf4;
$color-off-black: #282828;
$color-off-white: #fff1e0;

$color-highlight: rgba(180, 253, 11, 0.5);
