// colors for code section
$color-code-background: #353b45;
$color-code-keyword: #c3a4c4;
$color-code-definition: #8dc891;
$color-code-text: #f9f9f9;
$color-code-bracket: #87c4bd;
$color-code-element: #fc929e;
