.landing {
  background-color: $color-code-background;
  height: 100vh;
  font-family: $font-ibm;
  margin: 0;

  &__code {
    font-size: 4.5rem;
    font-weight: 100;
    margin: 0;
  }
}

.keyword {
  color: $color-code-keyword;
}

.variable {
  color: $color-code-text;
  font-style: italic;
}

.equal {
  color: $color-code-equal;
}

.definition {
  color: $color-code-definition;
}

.text {
  color: $color-code-text;
}

.bracket {
  color: $color-code-bracket;
}

.element {
  color: $color-code-element;
}
