.contact {
  background-color: #ddeedd;
  height: 100vh;

  @media screen and (max-width: 1000px) {
    height: 100%;
  }
  color: $color-black;
  padding: 3rem;

  &__header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--text {
      font-family: $font-secondary;
      font-size: 8rem;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;

      @media screen and (max-width: 1850px) {
        font-size: 8rem;
      }
      @media screen and (max-width: 1275px) {
        font-size: 7rem;
      }
      @media screen and (max-width: 1000px) {
        font-size: 6rem;
      }
    }

    &--invitation {
      font-family: $font-primary;
      font-family: $font-secondary;
      font-size: 2.4rem;
      border-bottom: 1px solid;
      padding: 1rem 4rem;
      margin: 0;

      @media screen and (max-width: 1850px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 1475px) {
        font-size: 1.8rem;
      }
    }

    &--subtext {
      font-size: 1.15rem;
      line-height: 1.7;
      width: 550px;
      margin-bottom: 2rem;
    }
  }

  &__split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12rem;
    padding: 1rem;
    justify-items: center;

    @media screen and (max-width: 1250px) {
      grid-column-gap: 4rem;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    &--form {
      grid-column: 1;

      @media screen and (max-width: 1000px) {
        grid-column: 1;
        grid-row: 2;
      }
    }

    .details {
      grid-column: 2;
      display: flex;
      flex-direction: column;

      &__detail {
        display: flex;
        align-items: center;
        font-family: $font-secondary;
        margin-bottom: 4rem;

        &--icon {
          height: 64px;
          width: 64px;
        }

        &--text {
          margin-left: 2rem;
          font-size: 2.4rem;
          text-decoration: none;
          color: $color-black;
        }
      }

      @media screen and (max-width: 1000px) {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}
