.hi {
  padding: 3rem 12rem 0;

  &__header {
    font-size: 8rem;
    margin: 0;
    @media screen and (max-width: 1850px) {
      font-size: 6rem;
    }
    @media screen and (max-width: 1475px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 1375px) {
      font-size: 4.2rem;
    }
  }

  &__sub {
    font-size: 7rem;
    margin: 0;
  }

  &__paragraph {
    font-size: 3rem;
    line-height: 1.5;

    @media screen and (max-width: 1850px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 1475px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 1375px) {
      font-size: 1.75rem;
    }
  }
}
