.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;

  &__code {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 100;
    margin-right: 10rem;
    line-height: 1.6;

    @media screen and (max-width: 1850px) {
      font-size: 2.25rem;
    }
    @media screen and (max-width: 1480px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 1230px) {
      font-size: 1.3rem;
      margin-right: 2rem;
    }
    @media screen and (max-width: 825px) {
      font-size: 1.2rem;
      margin-left: 0.1rem;
      margin-right: 0.8rem;
    }
  }
}

// add in codepen for typed text effect

.lineNumber {
  color: grey;
  margin-left: 1.8rem;
  margin-right: 2.75rem;

  @media screen and (max-width: 825px) {
    margin-left: 0.1rem;
    margin-right: 0.8rem;
  }
}

.keyword {
  color: $color-code-keyword;
  font-style: italic;
}

.variable {
  color: $color-code-text;
}
.reserved {
  color: $color-code-bracket;
  font-style: italic;
}

.equal {
  color: $color-code-equal;
}

.definition {
  color: $color-code-definition;
}

.text {
  color: $color-code-text;
}

.bracket {
  color: $color-code-bracket;
}

.element {
  color: $color-code-element;
}

.render {
  color: lightgrey;
}
