.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-code-background;
  height: 85vh;
  font-family: $font-secondary;
  margin: 0;
  padding: 2rem 0.6rem;

  &__code {
    padding: 0 9rem;
    font-size: 4.1rem;
    font-weight: 100;
    margin: 0;
  }
}

// add in codepen for typed text effect
.keyword {
  color: $color-code-keyword;
}

.variable {
  color: $color-code-text;
  font-style: italic;
}

.equal {
  color: $color-code-equal;
}

.definition {
  color: $color-code-definition;
}

.text {
  color: $color-code-text;
}

.bracket {
  color: $color-code-bracket;
}

.element {
  color: $color-code-element;
}
