.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-code-background;
  height: 100vh;
  font-family: $font-secondary;
  margin: 0;

  &__code {
    padding: 0;
    margin: 0;
    font-size: 1.95rem;
    font-weight: 100;
    margin-right: 10rem;
    width: 62rem;
    line-height: 1.6;

    @media screen and (max-width: 1850px) {
      font-size: 1.75rem;
    }
    @media screen and (max-width: 1475px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 1375px) {
      font-size: 1.2rem;
    }
  }
}

// add in codepen for typed text effect

.lineNumber {
  color: grey;
  margin-right: 2.75rem;
  margin-left: 1.8rem;
}

.keyword {
  color: $color-code-keyword;
  font-style: italic;
}

.variable {
  color: $color-code-text;
}
.reserved {
  color: $color-code-bracket;
  font-style: italic;
}

.equal {
  color: $color-code-equal;
}

.definition {
  color: $color-code-definition;
}

.text {
  color: $color-code-text;
}

.bracket {
  color: $color-code-bracket;
}

.element {
  color: $color-code-element;
}

.render {
  color: lightgrey;
}
