.projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 7rem;
  line-height: 1.5;
  padding-top: 10rem;
  color: $color-black;
  background-color: $color-white;

  @media screen and (max-width: 1850px) {
    padding: 0 5rem;
    padding-top: 0;
  }
  @media screen and (max-width: 1475px) {
    padding: 0 4rem;
    padding-top: 0;
  }
  @media screen and (max-width: 1375px) {
    padding: 0 1rem;
    padding-top: 0;
  }

  &--headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;

    @media screen and (max-width: 1200px) {
      margin-bottom: 5rem;
    }

    &__headline {
      font-size: 8rem;
      text-transform: uppercase;
      margin: 0;
      padding-top: 10rem;
      font-family: $font-secondary;
    }

    &__sub {
      margin: 0;
      font-family: $font-secondary;
      font-size: 2.4rem;
      border-bottom: 1px solid;
      padding: 1rem 4rem;

      @media screen and (max-width: 1700px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 2rem;
      }
    }
  }

  &__header {
    font-size: 12rem;
  }

  &__project {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 18rem;

    &--one {
      grid-column: span 2;
      grid-row: span 2;
      @media screen and (max-width: 1200px) {
        grid-column: span 4;
        grid-row: 1;
      }
    }

    &--two {
      padding: 0 8rem;
      grid-column: span 2;
      grid-row: span 2;
      @media screen and (max-width: 1200px) {
        grid-column: span 4;
        grid-row: 2;
        padding: 0 2rem;
      }
    }

    &--img {
      height: auto;
      width: 100%;
    }

    &--top {
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-bottom: 2rem;
    }

    &--header {
      font-size: 5rem;
      font-family: $font-tertiary;
      text-transform: uppercase;
      background-color: $color-off-black;
      color: $color-off-white;
      margin: 0;
      padding: 0.2rem 0.8rem;

      @media screen and (max-width: 1700px) {
        font-size: 4rem;
      }
    }

    &--sub {
      font-size: 1.2rem;
      font-style: italic;
      background-color: $color-off-black;
      color: $color-off-white;
      margin: 0;
      padding: 0 0.8rem;

      @media screen and (max-width: 1700px) {
        font-size: 2rem;
      }
    }

    &--url {
      text-decoration: none;
      font-size: 2rem;
      font-family: $font-primary;
      padding: 0.2rem 0.8rem;
      background-color: $color-off-black;
      color: $color-off-white;
      font-style: italic;
      font-weight: bold;
      position: relative;
      z-index: 1;
    }

    &--description {
      font-size: 2.4rem;
      font-family: $font-secondary;

      @media screen and (max-width: 1700px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 1200px) {
        font-size: 2rem;
      }
    }
  }
}

span {
  position: relative;
  z-index: 1;
}

span::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: hsla(341, 97%, 59%, 0.75);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

span:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}

.projects__project--img:hover {
  animation: shadow 0.2s forwards;
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2),
      0 8px 25px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}
