.projects {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 7rem;
  line-height: 1.5;

  &__header {
    font-size: 12rem;
  }

  &__project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18rem;

    &--one {
    }

    &--two {
      padding: 0 8rem;
    }

    &--img {
      height: 70rem;
      width: 70rem;
    }

    &--header {
      font-size: 7rem;
    }

    &--sub {
      font-size: 4rem;
      font-style: italic;
    }

    &--description {
      font-size: 2.4rem;
    }
  }
}
