.projects {
  // background-color: #fc929e;
  height: 85vh;

  &__header {
    margin: 0;
  }

  &__project {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--img {
      height: 70rem;
      width: 70rem;
    }
  }
}
