.splash {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.one {
  height: 100vh;
  grid-column: span 2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-off-black;
  font-family: $font-secondary;
  margin: 0;

  @media screen and (max-width: 1475px) {
    font-size: 5rem;
  }
  @media screen and (max-width: 1375px) {
    font-size: 4.2rem;
  }
}

.two {
  background-color: $color-off-white;
  height: 100vh;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
